# Python-related files
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Virtual environment
venv/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Dependency directories
*.egg-info/
